.matchviewbox_mobi_wrapper {
  margin-left: 1%;
  margin-right: 1%;
}

.matchviewbox_mobi {
  display: flex;
  /* background-color: #f5f3f3; */
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 7%) 0px -1px 1px, rgb(0 0 0 / 7%) 0px 4px 4px,
    rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px,
    rgb(0 0 0 / 7%) 0px 12px 12px;
  /* overflow: hidden; */
  padding-bottom: 0.25rem;
  border-radius: 8px;
}
.matchviewbox_mobi .matchviewbox_mobi_imagebox_wrapper {
  width: 30%;
  overflow: hidden;
}
.matchviewbox_mobi .matchviewbox_mobi_detail_wrapped {
  width: 70%;
}
.matchviewbox_mobi_imagebox {
  overflow: hidden;
}
.matchviewbox_mobi_imagebox img {
  width: 220px;
}

.matchviewbox_mobi_imagebox_other_images_wrapper {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.matchviewbox_mobi_imagebox_other_images_box {
  padding-left: 5px;
  padding-right: 5px;
  /* opacity: 0.4; */
  text-align: center;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.matchviewbox_mobi_imagebox_other_images_box.m_mobi_imgb_selected {
  opacity: 1;
}
.matchviewbox_mobi_imagebox_other_images_box.m_mobi_imgb_not_selected {
  opacity: 0.4;
}
.matchviewbox_mobi_imagebox_other_images_box img {
  width: 40px;
  display: inline-block;
}


.matchviewbox_mobi_detail_wrapped {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-right: 5px;
}

.matchviewbox_mobi_detail_header {
  display: flex;
  justify-content: space-between;
}

.matchviewbox_mobi_detail_header .matchviewbox_mobi_detail_name h4 {
  margin-top: 5px;
  font-weight: 700;
  color: var(--text-color);
  font-size: 1.25rem;
  margin-top: 12px;
}

.matchviewbox_mobi_detail_body_info {
  display: flex;
  margin-bottom: 6px;
}
.matchviewbox_mobi_detail_body_info span {
  display: inline-block;
  color: var(--text-color);
  font-size: 15px;
  position: relative;
}
.matchviewbox_mobi_detail_body_info_1 span:nth-child(1) {
  padding-right: 10px;
  margin-right: 10px;
}
.matchviewbox_mobi_detail_body_info_1 span:nth-child(1)::after {
  content: "";
  background-color: gray;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 10%;
  width: 1.5px;
}
.matchviewbox_mobi_detail_body_info_2 span:nth-child(1) {
  padding-right: 2px;
  margin-right: 2px;
}
.matchviewbox_mobi_detail_body_info_2 span:nth-child(1)::after {
  content: ",";
}
.matchviewbox_mobi_detail_menus {
  display: flex;
  align-items: center;
}
.matchviewbox_mobi_detail_menus_button_box {
  display: flex;
}
.matchviewbox_mobi_detail_menus_button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 50%;
  box-shadow: rgba(220, 65, 114, 0.8) 2px 4px 6px;
  transform: 0.25s;
  border: 1px solid rgba(220, 65, 114, 0.8);
}
.matchviewbox_mobi_detail_menus_button svg {
  color: #fff !important;
  transform: 0.25s;
}
.matchviewbox_mobi_detail_menus_button:hover {
  cursor: pointer;
  background-color: #fff;
}
.matchviewbox_mobi_detail_menus_button:hover svg {
  color: var(--color-secondary) !important;
}
.matchviewbox_mobi_detail_bottom_info span {
  display: inline-block;
  color: var(--text-color);
  font-size: 15px;
  position: relative;
}
.matchviewbox_mobi_detail_bottom_info_1 span:nth-child(1) {
  padding-right: 10px;
  margin-right: 10px;
}
.matchviewbox_mobi_detail_bottom_info_1 span:nth-child(1)::after {
  content: "";
  background-color: gray;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 10%;
  width: 1px;
}
.matchviewbox_mobi_detail_bottom_info_2 span:nth-child(1) {
  padding-right: 2px;
  margin-right: 2px;
}
.matchviewbox_mobi_detail_bottom_info_2 span:nth-child(1)::after {
  content: ",";
}

.matchviewbox_mobi_detail_bottom_wrapper {
  display: flex;
  justify-content: space-between;
}
.matchviewbox_mobi_detail_bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.matchviewbox_mobi_detail_bottom_icon_info {
  display: flex;
  /* align-items: center; */
  margin-bottom: 4px;
  margin-top: 10px;
  width: 100%;
}
.matchviewbox_mobi_detail_bottom_icon_info
  .matchviewbox_mobi_detail_bottom_icon_info_icon {
  margin-bottom: 5px;
}
.matchviewbox_mobi_detail_bottom_icon_info
  .matchviewbox_mobi_detail_bottom_icon_info_icon
  svg {
  color: var(--color-secondary) !important;
  margin-right: 8px;
  font-size: 20px !important;
}
.matchviewbox_mobi_detail_bottom_icon_info
  .matchviewbox_mobi_detail_bottom_info
  span {
  font-weight: 600;
  font-size: 15px;
}

.matchviewbox_mobi_detail_menus_box {
  margin-top: auto;
  margin-right: 20px;
}

/* ------------------------------------ */

/* .matchviewbox_mobi_detail_dropmenus .icon {
  transform: rotate(90deg) !important;
} */
.matchviewbox_mobi_detail_dropmenus
  .nav-item.dropdown
  .dropdown-toggle.nav-link {
  padding-right: 0px !important;
}
.matchviewbox_mobi_detail_dropmenus .nav-link:after {
  display: none;
}
.matchviewbox_mobi_detail_dropmenus .dropdown-menu {
  transform: translate(-70%, 25%) !important;
}
.matchviewbox_mobi_detail_dropmenus .dropdown-item:hover {
  background-color: hsla(340, 26%, 51%, 0.15);
}
.matchviewbox_mobi_detail_dropmenus .dropdown-item:active {
  background-color: hsla(340, 26%, 51%, 0.15);
}
.matchviewbox_mobi_detail_dropmenus .dropdown-item:focus {
  background-color: hsla(340, 26%, 51%, 0.15);
}

.matchviewbox_mobi_detail_dropmenus .dropdown-menu.show {
  transform: translate(-6%, 25%) !important;
}

/* ------------------------------------ */

.matchviewbox_mobi_imagebox_other_images_wrapper .slick-arrow {
  width: 1rem;
  height: 1rem;
  color: var(--text-color);
  z-index: 99;
}
.matchviewbox_mobi_imagebox_other_images_wrapper .slick-arrow.slick-prev {
  left: -5px;
}
.matchviewbox_mobi_imagebox_other_images_wrapper .slick-arrow.slick-next {
  right: -12px;
}

/* ------------------------------------ */

@media (max-width: 675px) {
  .matchviewbox_mobi .matchviewbox_mobi_imagebox_wrapper {
    width: 180px;
  }
  .matchviewbox_mobi .matchviewbox_mobi_detail_wrapped {
    width: auto;
  }
}

@media (max-width: 575.98px) {

}

@media (max-width: 475.98px) {
  .matchviewbox_mobi_imagebox_other_images_wrapper .slick-arrow.slick-prev {
    left: -2px;
  }
  .matchviewbox_mobi_imagebox_other_images_wrapper .slick-arrow.slick-next {
    right: -5px;
  }
  .matchviewbox_mobi {
    flex-direction: column;
  }
  .matchviewbox_mobi_imagebox_wrapper {
    width: 100% !important;
  }
  .matchviewbox_mobi_imagebox img {
    width: 100%;
  }
  .matchviewbox_mobi_detail_wrapped {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .matchviewbox_prefrences_tabcontext__tab {
    font-size: 12px !important;
    padding-left: 6px !important;
  }
  .matchviewbox_prefrences_tabcontext__tab.Mui-selected::before {
    width: 3px;
    left: 2px;
  }
}
